@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');
/* all */
* {
    margin: 0;
	padding:0;
	color:#000;
	font-family: 'ZCOOL QingKe HuangYou';
	box-sizing: border-box;
    
}


h3 {
    text-align:unset;
    margin: 1%;
    font-size:1cm;
    font-family:'Bonheur Royale';
    letter-spacing: 2px;

}

header {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}


.pagename {
    background-image: url("/-beaver/img/노을.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;
}


.pagename h2{
    color: black;
    font-family: 'Explora';
    letter-spacing: 5px;
}

#pagetitle {
    text-align: center;
    font-size: 60px;
}


#me {
    margin-top: 5%;
    width: auto;
    height: auto;
    text-align: center;
    border-width: 6px;
    border-style: solid;
    border-color: lightsalmon;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    align-items: center;
    display: flex;
}
.imgs-ani {
    top: 50px;
    width: 300px;
    height: 300px;
    float: left center;
}

#me.my-text {
    background-color:white;
    border: 50px;
    width: 300px;
    height: 300px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 20px;
}



.my-info {
    font-size: auto;
    float: center;
    margin-top: 20px;
    font-family: 'Gothic+A1';
}

.fn-img {
    text-align: center;
}

.fn-img > li{
    list-style: none;
    display: inline-block;
}

.link-img {
    width: 80px;
    height: 80px;
}

#container {
    margin-top: 5%;
    text-align: center;
}

.picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.textbox > p {
    text-align: center;
    font-family: 'Caramel';
    font-size: 2cm;
}



#footer-img {
    margin-top: 5%;
    background-color:papayawhip;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.fn-img li {
    margin-left: 50px;
}
