@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

#page {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing : content-box;
}

.page-head {
    background-image: url(/-beaver/img/노을.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 300px;
    
}

.page-head #page-name strong{
    font-size: 13ch;
    font-family: 'Bonheur Royale';
    color: #aaaa
}

#character {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    border-width: 6px;
    border-style: solid;
    border-color: lightsalmon;
}

#character .character-img img {
    margin-left: 10%;
    height: 450px;
    width: 450px;
}

#character article {
    margin-left: 20%;
    text-align: left;
}

#character article h2 p {
    text-align: left;
}

#character ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
}

.fn-img img {
    width : 80px;
    height: 80px;
}

.textbox p{
    font-family: 'Caramel';
    font-size: 80px;
    margin: 0;
}

section#timeline {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    position: relative;
}

section#timeline::before {
    content: '';
    display: block;
    position: absolute;
    left:50%;
    top: 0;
    margin: 0 0 0 -1px;
    width: 2px;
    height: 100%;
    background: rgba(255,255,255,0,2);
}

section#timeline article {
    width: 100%;
    margin: 0 0 20px 0;
    position: relative;
}

section#timeline article:after{
    content:'';
    display: block;
    clear: both;
}

section#timeline article div.inner {
    width: 40%;
    float: left;
    margin: 5px 0 0 0;
    border-radius: 6px;
}

section#timeline article div.inner span.date{
    display: block;
    padding: 20px 10px;
    position: absolute;
    width: 50px;
    height: 30px;
    top: 0;
    left: 50%;
    margin: 0 0 0 -20px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 900;
    background: #DCDCDC;
    color: rgba(255,255,255,0,5);
    border: 2px solid rgba(255,255,255,0,2);
    box-shadow: 0 0 0 7px #DCDCDC;
}

section#timeline article div.inner span.year span {
    display: flex;
    text-align: center;
}

section#timeline article div.inner span.date span.year {
    font-size: 20px;
}

section#timeline article div.inner h2 {
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

section#timeline article div.inner h2:after {
    content: '';
    position: absolute;
    top:20px;
    right: -5px;
    width:10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
}

section#timeline article div.inner p {
    padding: 15px;
    margin: 0;
    font-size: 14px;
    background: #FFF;
    color: #656565;
    border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(2n+2) div.inner {
    float: right;
  }
  section#timeline article:nth-child(2n+2) div.inner h2:after {
    left: -5px;
  }
  section#timeline article:nth-child(2) div.inner h2 {
    background: #E74C3C;
  }
  section#timeline article:nth-child(2) div.inner h2:after {
    background: #E74C3C;
  }
  section#timeline article:nth-child(3) div.inner h2 {
    background: #2ECC71;
  }
  section#timeline article:nth-child(3) div.inner h2:after {
    background: #2ECC71;
  }
  section#timeline article:nth-child(4) div.inner h2 {
    background: #E67E22;
  }
  section#timeline article:nth-child(4) div.inner h2:after {
    background: #E67E22;
  }
  section#timeline article:nth-child(5) div.inner h2 {
    background: #1ABC9C;
  }
  section#timeline article:nth-child(5) div.inner h2:after {
    background: #1ABC9C;
  }
  section#timeline article:nth-child(6) div.inner h2 {
    background: #9B59B6;
  }
  section#timeline article:nth-child(6) div.inner h2:after {
    background: #9B59B6;
  }
    section#timeline article:nth-child(7) div.inner h2 {
        background: #FFF00F;
    }
      section#timeline article:nth-child(7) div.inner h2:after {
        background: #FFF00F;

    }

#container {
    text-align: center;
}

.picture {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.like-name > p {
    text-align: center;
    font-family: 'Caramel';
    font-size: 80px;
}

footer {
    margin-top: 5%;
    background-color:papayawhip;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;

}

